<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <!-- Required settings -->
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PYTHONPATH" value="D:\test11\webtest" />
        <add key="DJANGO_SETTINGS_MODULE" value="webtest.settings" />

  </appSettings>
  <system.webServer>
        <handlers>
            <add name="testiis" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\test11\venv\Scripts\python.exe|D:\test11\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
  </system.webServer>
</configuration>
